[submodule "light_client"]
	path = light_client
	url = https://github.com/Aletheia-Sync/LightClient-Noir.git
[submodule "aletheia-sync"]
	path = aletheia-sync
	url = https://github.com/Aletheia-Sync/Circuits-Aletheia.git
[submodule "registry"]
	path = registry
	url = https://github.com/Aletheia-Sync/Registry-Anchor.git
